<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>532630913922-61kjevaege0uq6ea18o7tq53p04i0al9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532630913922-61kjevaege0uq6ea18o7tq53p04i0al9</string>
	<key>API_KEY</key>
	<string>AIzaSyDscsl93_wLuN4pZyJBr5OJBEId5tmvjJM</string>
	<key>GCM_SENDER_ID</key>
	<string>532630913922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>story-app</string>
	<key>PROJECT_ID</key>
	<string>story-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>story-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532630913922:ios:3646d92ae71d5806</string>
	<key>DATABASE_URL</key>
	<string>https://story-dev.firebaseio.com</string>
</dict>
</plist>